In [4]:
import datetime as dt
import pandas as pd
dt.date.today() + dt.timedelta(1)

datetime.date(2023, 12, 20)

In [10]:
df = pd.DataFrame([[3,2], [1,4]], columns=['a','b'])
display(df)
display(df.iloc[0])
df.sort_values(by='a').iloc[0]['a']

   a  b
0  3  2
1  1  4

a    3
b    2
Name: 0, dtype: int64

1

In [12]:
dt.datetime.strptime('12/19/2023', "%m/%d/%Y").date()

datetime.date(2023, 12, 19)

In [2]:
def divide(x,y):
    return x/y


print(divide(**{'x': 3, 'y':2}))

1.5

In [8]:
'index.pyc'.rsplit('.')

['index', 'pyc']